<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>News API</title>
        <link href="../modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="../static/css/custom.css" rel="stylesheet">

    </head>


    <body>
    <script src="https://fb.me/react-0.14.3.js"></script>
    <script src="https://fb.me/react-dom-0.14.3.js"></script>
    <header class="navbar navbar-expand-lg">
        <div class="heading-wrapper text-center">
            <label class="navbar-brand text-center">Blog Post Preview</label>
        </div>
    </header>
    <div class="container-fluid" id="app">

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/app.min.js"></script></body>
    <!-- Include all compiled plugins (below), or include individual files as needed -->

    </body>
</html>